<footer class="Site-footer">
    <div class="Footer Footer--small">
        <p class="Footer-credits">Created and maintained by
            <a href="mailto:martin.harrer@fh-hagenberg.at">Martin Harrer</a> and
            <a href="mailto:wolfgang.hochleitner@fh-hagenberg.at">Wolfgang Hochleitner</a>.
        </p>
        {%  if not(_server.SCRIPT_NAME is same as ('/code/onlineshop/htdocs/solution.php')) %} <a href="solution.php"  class="Button u-spaceLM">Create Solution</a> {% endif %}
        <p class="Footer-version"><i class="fa fa-picture-o"></i>
            <a href="https://github.com/Digital-Media/phpue">PHPUE Version 2017</a>
        </p>
    </div>
</footer>
</body>
</html>