<p>Place the requested form here</p>
<!-- This Template is included in htdocs/templates/contactMain.tpl -->
<!-- css-Files and other stuff is included by contactMain.tpl -->
<!-- contactMain.tpl is called bei src/Exercises/using-templates/contact.php in the constructor of the class -->
<!-- htdocs/contact.php requires src/Exercises/using-templates/contact.php, that is requested by the Browser -->

<!-- TODO Have a look at the form in htdocs/templates/normFormDemo.tpl -->

<!-- TODO Build a form with a POST request and send the input to $smarty.server.SCRIPT_NAME -->
<!-- In this case htdocs/contact.php is called @see above -->
<!-- TODO create four input fields with labels enclosed by a div. end form with a submit button -->
<!-- TODO 1. field: Subject type text -->
<!-- TODO 2. field: Request type textarea, use the attributes rows and cols to limit input -->
<!-- TODO 3. field: Email type email -->
<!-- TODO 4. field: Priority type number, use the attributes min, max and step to provide three priorities -->
<!-- TODO  use the css-classes of normFormDemo.tpl used for div, label and input to get a nicer look  -->
